annotated-doc
annotated-types
anyio
certifi
charset-normalizer
click
Faker
fastapi
h11
idna
mimesis
numpy
pandas
psycopg
psycopg_binary
pydantic
pydantic_core
python-dateutil
python-multipart
requests
scipy
six
starlette
typing-inspection
typing_extensions
urllib3
uvicorn
